@charset "utf-8";

@font-face {
  font-family: "One Shingan";
  src: url("../fonts/OneShinhanLight.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "One Shingan";
  src: url("../fonts/OneShinhanMedium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "One Shingan";
  src: url("../fonts/OneShinhanBold.woff") format("woff");
  font-weight: 700;
}
